@import 'open-props/style';
@import 'open-props/normalize';

html {
  block-size: 100%;
}

body {
  background: var(--cyan-0);
  min-block-size: 100%;
  padding: var(--size-fluid-2);
}

.card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  justify-content: space-around;
  max-inline-size: calc(var(--size-content-1) * 4);
  min-width: var(--size-14);
  padding: var(--size-fluid-1);
}

.card {
  align-items: center;
  background: var(--grape-0);
  border-radius: var(--radius-3);
  border: 1px solid var(--surface-4);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  justify-content: space-between;
  padding: var(--size-4);
  width: 100%;
}

.card .title {
  font-weight: var(--font-weight-8);
}

.card a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--surface-4);
}

button {
  background-color: var(--blue-1);
  border-radius: var(--radius-2);
  border: var(--border-size-2) solid var(--blue-5);
  color: var(--blue-9);
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-1);
  padding-inline: var(--size-6);
  white-space: nowrap;
}

button:hover {
  filter: opacity(0.8);
}

button:active {
  filter: opacity(0.7);
}

button:disabled {
  filter: opacity(0.3);
  cursor: initial;
}

.form-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  justify-content: space-between;
  padding: var(--size-4);
  width: 100%;
}

.form-controls > input[type='search'] {
  border: var(--border-size-2) solid var(--blue-5);
  flex-grow: 1;
}
