@import 'open-props/style';
@import 'open-props/normalize';

html {
  block-size: 100%;
}

body {
  background: var(--cyan-0);
  min-block-size: 100%;
  padding: var(--size-fluid-2);
}

.card-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-5);
  justify-content: space-around;
  max-inline-size: calc(var(--size-content-1) * 4);
  padding: var(--size-5);
  min-width: 100%;
}

.card {
  background: var(--grape-0);
  border-radius: var(--radius-3);
  border: 1px solid var(--surface-4);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-basis: var(--size-content-1);
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-4);
}

button {
  background-color: var(--blue-1);
  border-radius: var(--radius-2);
  border: var(--border-size-2) solid var(--blue-5);
  color: var(--blue-9);
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-4);
  padding-block: var(--size-1);
  padding-inline: var(--size-6);
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-4);
}

button:active {
  box-shadow: var(--shadow-2);
}

input[type='search'] {
  border: var(--border-size-2) solid var(--blue-5);
  margin-top: var(--size-fluid-2);
  width: var(--size-fluid-10);
}

.card > button {
  margin-top: var(--size-fluid-2);
}

form {
  margin-top: var(--size-fluid-2);
  margin-bottom: var(--size-fluid-2);
}

form > button {
  margin-left: var(--size-fluid-2);
}
